.darkLight {
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}